# User-defined secrets
# ESP32/WiFiCredentials.h
# WiFiCredentials.h

__pycache__/
venv/*

# incase test doesnt remove executable
Tests/testRunner

ESP32/libraries/

.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
