# User-defined secrets
# ESP32/WiFiCredentials.h
# WiFiCredentials.h

__pycache__/
venv/*

.ruff_cache/

.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
